<div class="show-container">

  <div class="task-container">
    <div class="title-and-edit-container">
      <h1><%= @task.title %></h1>
      <%= link_to edit_task_path(@task) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>

    <div class="task-details">
      <p><strong>Description: </strong><%= @task.details %></p>
    </div>
  </div>

  <%= link_to "Back to list", tasks_path %>
</div>  